@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', system-ui, sans-serif;
}

/* Custom container for consistent width */
.container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
  max-width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}